@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  color: #cfc6c6;
  line-height: 1.7;
  font-size: 19px;
  background-color: #222222;
  background-image: url(/looktelescope.jpg);
  background-position: center;
}

.navbar {
  background-color: rgba(220, 220, 220, 0.8);
  display: flex;
  justify-content: center;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: rgb(0,0,0);
  transform: scale(1.1);
}

/* nasa photo ---------- */

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbbbbb;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 20px;
  background: rgba(255,255,255,0.8);
  display: inline-block;
  padding: 20px 40px;
  color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 3px;
  background: rgba(255,255,255,0.2);
}