@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

body {
  font-family: 'Trispace', sans-serif;
  color: #cfc6c6;
  line-height: 1.7;
  font-size: 16px;
  background-color: #222222;
  background-position: center;
}

.navbar {
  background-color: rgba(220, 220, 220, 0.5);
  font-family: 'Trispace', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  justify-content: space-between;

}

#start-title{
  color: #422C2F;
}

#date-picker{
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Trispace', sans-serif;
  padding: 5px;
  margin-top: 5px;
}

#date-button{
  padding-top: 1%;
  background-color: white;
  color: black;
}

#date-button:hover {
  color: rgb(66,44,47);
  transform: scale(1.2);
}

#date-header{
   color: #fff;
   font-size: 15px;
   padding-top: 7px;
}

#favourite-button{
  padding-top: 1%;
  background-color: white;
  color: black;
}

#favourite-button:hover{
  color: rgb(66,44,47);
  transform: scale(1.2);
}

#photo-header{
  font-family: 'Trispace', sans-serif;
  color: #fff;
  margin-top: 15px;
}

.heart{
  padding: 2px;
}
.content:hover {
  border-radius: 20px;
  background: rgba(255,20,147,0.5);
}

#explaination-photo{
  color: white;
  margin-top: 15px;
  font-family: 'Trispace', sans-serif;
}