@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

body {
  font-family: 'Trispace', sans-serif;
  color: #cfc6c6;
  line-height: 1.7;
  font-size: 16px;
  background-color: #222222;
  background-position: center;
}

.navbar {
  background-color: rgba(220, 220, 220, 0.5);
  font-family: 'Trispace', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  justify-content: space-between;
}

#start-title{
  color: #422C2F;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#date-picker{
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Trispace', sans-serif;
  padding: 5px;
  margin-top: 5px;
}

#date-button{
  background-color: rgb(66,44,47);
  color: white;
  font-family: 'Trispace', sans-serif;
  font-size: 15px;
  border-radius: 60px;
}

#date-button:hover {
  transform: scale(1.2);
}

#date-header{
   color: #fff;
   font-size: 15px;
   padding-top: 7px;
}

#favourite-button{
  background-color: rgb(66,44,47);
  color: white;
  font-family: 'Trispace', sans-serif;
  font-size: 15px;
  border-radius: 60px;
}

#favourite-button:hover{
  transform: scale(1.2);
}

#photo-header{
  font-family: 'Trispace', sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 15px;
}

.heart{
  padding: 2px;
}
.content:hover {
  border-radius: 20px;
  background: rgba(255,20,147,0.5);
}

#explaination-photo{
  color: white;
  margin: 20px;
  padding: 20px;
  font-family: 'Trispace', sans-serif;
}

#card-style{
  display: inline-flex;
}

#card-white-style{
  color: white;
  text-align: center;
}


#photo-size{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.heart-shape{
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgba(250,184,66, 1);
}
.heart-shape:before,
.heart-shape:after{
  position: absolute;
  width: 25px;
  height: 25px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(250,184,66, 1);
}
.heart-shape:before{
  bottom: 0px;
  left: -15px;
}
.heart-shape:after{
  top: -15px;
  right: 0px;
}

#card-size{
  width:50%;
  position: center;
  margin-top: 10px;
  padding-left: 25%;
}

.two-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

#change-button{
  background-color: rgb(66,44,47);
  color: white;
  font-family: 'Trispace', sans-serif;
  font-size: 15px;
  border-radius: 60px;
}

#change-button:hover{
  transform: scale(1.2);
}